header {
    background: blueviolet;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.342) ;
    


}

.page-wrap {
    padding: 5rem 0;
}

header .top-bar {
    /*menu*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
   

}
header .top-bar li a {
    padding: .25rem 1rem;
    color: #ffffff;

}
header .top-bar li {
    position: relative;
}
header .top-bar li:first-child a {
    padding-left: 0;

}
header .top-bar li:first-child a {
    padding-right: 0;
    
}
header .top-bar li .sub-menu{
    display: none;
    list-style-type: none;
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
    background: #c46ffde5;
    box-shadow: 1px 1px 10px rgpa(0,0,0,0.1);
    margin: 0;
    padding: 0;
    width: 200px;
    border-radius: 5px;
}
header .top-bar li .sub-menu a{
    color: rgb(74, 11, 133);
    padding:10px ;
    text-align: center;
    display: block;
    text-decoration: none;
}
header .top-bar li .sub-menu a:hover{
    color: rgb(252, 250, 250);
}


header .top-bar .menu-item-has-children:hover .sub-menu{
    display: block;
    
}

header .name {
    /* name of the project*/
   
    color: rgb(2, 2, 2);
    padding: 5px;
    margin: 20px;
    display: block;
}


header .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
.badge {
    background-color: rgb(144, 42, 165);
}

.img-fluid{
    margin: 20px;
}
.home{

    position: relative;
    width: 100%;
    height: 60vh; /* Full viewport height */
    overflow: hidden;
}
.home img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the whole container without distortion */
    z-index: -1; 
}
.home .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Black overlay with 50% opacity */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
}
.home h1 {
    font-size: 3rem;
    margin: 0;
  }

  .home p {
    font-size: 1.5rem;
    margin: 10px 0 0;
  } 
  .content{
    padding: 20px;
  
  }
  .home-page{

    color: aqua;
    justify-content:top;

  }